<div class="contents row" >
    <p><%= @name %>さんの投稿一覧</p>
      <div class="content_post" >
        <span class="name">自分</span>
      </div>
  </div>

  <div class="test-box" >
    <div class="test-box2" >
    </div>
  </div>
