<!DOCTYPE html>
<html>
<head>
  <title>Twitter</title>
  <%= stylesheet_link_tag "style"%>
  <link href="/stylesheets/mypage.css" media="screen" rel="stylesheet" type="text/css" />
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="header__lists">
      <li>
        <ul>
          ホーム
          <% link_to "ホーム", :controller => "users", :action => "show" %>
        </ul>
        <ul>
          モーメント
        </ul>
        <ul>
          通知
        </ul>
        <ul>
          メッセージ
        </ul>
      </li>
    </div>
  </header>
  <% yield %>
  <div class="profilecanopy-inner">
    <div class="profilecanopy-header">
    </div>
    <div class="profilecanopy-navbar">
      <li>
        プロフィール編集

        <a href="/users/edit">プロフィール編集</a>
          = link_to edit_user_path(current_user) do
      </li>
    </div>
  </div>

  <div class="contents">

  </div>

<footer>
</footer>
<%= yield %>

</body>
</html>


