<div class="mypage">
  <img src="http://card-professor.jp/wp/wp-content/uploads/2016/02/baseball-collaboration.jpg" class="mypage__img">
  <div class="mypage__info clearfix">
  <img src="https://www.nihonpet-plus.co.jp/dog/img/top_dog009.jpg" class="img-circle mypage__info__img">
  <ul class="mypage__info__nav">
    <li class="mypage__info__nav__list">ツイート</br></li>
    <li class="mypage__info__nav__list">
      <%= link_to "/users/#{@user.id}/followings", method: :"GET" do %>
        フォロー</br>
        <%= @user.follow_count %>
      <% end %>
    </li>
    <li class="mypage__info__nav__list">フォロワー</li>
    <li class="mypage__info__nav__list">いいね</li>
  </ul>
  <% if current_user != @user %>
    <% if current_user.following?(@user) %>
      <%= link_to "フォロー中", unfollow_user_path(@user), class: "mypage__info__follow" %>
    <% else %>
      <%= link_to "フォローする", follow_user_path(@user), class: "mypage__info__unfollow"  %>
    <% end %>
  <% end %>
  </div>
</div>
