<div class="trend">
  <h4>おすすめトレンド</h4>
  <div class="trend__main">
    <p><a href="#">#楠本10社内定！</a></br>
     10社も内定が出た秘訣とは!?</p>
  </div>
  <div class="trend__sub">
    <p><a href="#">#ノブ、侍エンジニア塾へ転籍！？</a></p>
  </div>
  <div class="trend__sub">
    <p><a href="#">#まる子作画ミス？</a></p>
  </div>
  <div class="trend__sub">
    <p><a href="#">#海賊版サイト続々閉鎖</a></p>
  </div>
  <div class="trend__sub">
    <p><a href="#">プログラミング高給言語ランキング</a></p>
  </div>
  <div class="trend__sub">
    <p><a href="#">#高橋真麻の鼻の穴</a></p>
  </div>
  <div class="trend__sub">
    <p><a href="#">閉園後のディズニーの闇</a></p>
  </div>
  <div class="trend__sub">
    <p><a href="#">にゃんこスターのライバルわんこスター</a></p>
  </div>
</div>
