<div class="trend">
  <h4>おすすめトレンド <%= link_to "更新", '/trends/show', class:"trend__reload", method: :get %></h4>
  <% @trends.each do |trend| %>
    <div class="trend__main">
      <%= link_to "#{trend.title}", "#{trend.url}", class:"trend___main__font" %>
    </div>
  <% end %>
</div>
