// ダイアログ関係
#input{
  .model-dialog{
    background-color: #E6FFE9;
    border-radius: 15px;
  }
}
.modal-content{
  height:220px;
  border-radius: 15px;
}
.modal-form{
  background-color: #B1F9D0;
}
.modal-title{
  text-align: center;
}
.modal-image{
  float: left;
  &__icon{
    margin: 15px 10px 0 10px;
    height: 30px;
    width: 30px;
  }
}

.new_tweet .tweet-btn{
  margin:0;
}

.modal-body{
  margin-top:15px;
  float: left;
  height:80px;
  width:500px;
  border-radius: 5px;
  border: solid 2px green;
}
.tweet-btn{
  border-radius: 15px;
  float: right;
  margin: 20px;
}
