.user{
  padding: 10px;
  &__img{
    height: 50px;
    width: 50px;
    float: left;
  }
  &__info{
    width: 100%;
    padding-left:65px;
    &__btn{
      height: 24px;
      display: block;
      color: green;
      font-size: 14px;
      border-color: green;
      background-color: white;
      line-height: 25px;
      padding: 0 15px;
      border-radius: 12px;
    }
  }
}

