<div class="contents__main__tweet__content clearfix">
  <img src="https://code-schools.com/wp-content/uploads/2017/03/ruby.png" class="img-circle contents__main__tweet__content__thumbnail">
  <div class="contents__main__tweet__content__info">
    <div class="contents__main__tweet__content__info__wapper">
      <%= link_to "#" do %>
        <p class="contents__main__tweet__content__info__wapper__name">ruby @ruby</p>
      <% end %>
      <p class="contents__main__tweet__content__info__wapper__date"> 2018年4月19日 10:00</p>
    </div>
    <div class="contents__main__tweet__content__info__center">
      ルビーは楽しー！
    </div>
    <div class="contents__main__tweet__content__info__bottom">
      <div class="glyphicon glyphicon-comment col-sm-3 col-md-3"></div>
      <div class="glyphicon glyphicon-retweet col-sm-3 col-md-3"></div>
      <div class="glyphicon glyphicon-heart col-sm-3 col-md-3"></div>
      <div class="glyphicon glyphicon-envelope col-sm-3 col-md-3"></div>
    </div>
  </div>
</div>
<hr>
<div class="contents__main__tweet__content clearfix">
  <img src="https://code-schools.com/wp-content/uploads/2017/03/ruby.png" class="img-circle contents__main__tweet__content__thumbnail">
  <div class="contents__main__tweet__content__info">
    <div class="contents__main__tweet__content__info__wapper">
      <%= link_to "#" do %>
        <p class="contents__main__tweet__content__info__wapper__name">ruby @ruby</p>
      <% end %>
      <p class="contents__main__tweet__content__info__wapper__date"> 2018年4月19日 09:00</p>
    </div>
    <div class="contents__main__tweet__content__info__center">
      さあ、ルビーを学ぼう！
    </div>
    <div class="contents__main__tweet__content__info__bottom">
      <div class="glyphicon glyphicon-comment col-sm-3 col-md-3"></div>
      <div class="glyphicon glyphicon-retweet col-sm-3 col-md-3"></div>
      <div class="glyphicon glyphicon-heart col-sm-3 col-md-3"></div>
      <div class="glyphicon glyphicon-envelope col-sm-3 col-md-3"></div>
    </div>
  </div>
</div>
<hr>

