html, body {
/*  height: 100%;
  width: 100%;*/
  margin: 0;
  padding: 0;
}

/*header {
  color: #f00;
}
#clear_text {
  color:initial;
}

.header-nav {
  color: #f00;
}
#clear_text {
  color:initial;
}*/

/*.header__list {
  background-color: blue;
}
#clear_text {
  color:initial;
}*/

/*h1 {
  color: #f00;
}
.clear_text {
  color:initial;
}

div class="user_nav grid-6
span
ul
a class="post"
div class="grid-6">

.header__list {
}
.clear-text {
}*/
header {
  background-color: yellow;
  height: 46px;
  width:  100%;
  /*top: 0px;*/
  position: fixed;
}

.header__lits {

}
.list {

}

.profilecanopy-inner {
  background-color: #3399FF;
/*  height: 300px;*/
  height: 100%;
  top: 46px;
}

.profilecanopy-header {
  /*background-color: orange;*/
  height: 175px;
}

.profilecanopy-navbar {
  background-color: #FFFFFF;
  height: 60px;
}

.contents {
  background-color: #EEEEEE;
  height: 1000px;
/*  padding: 0 auto;
  margin: ;*/
}

.left-contents {
  background-color: #FFFFFF;
  height: 300px;
  width: 300px;
  float: left;
}

footer {

}
