*{
  margin: 0;
  padding: 0;
}

.users-edit {
  margin: 120px auto;
  width: 400px;
  h2 {
    margin-bottom: 10px;
    text-align: center;
  }
  .edit_user {
    .field {
      input {
        padding: 10px;
        margin: 10px 0px;
        border-radius: 10px;
        font-size: 18px;
      }
    }
    .actions {
      input {
        height: 40px;
        width: 400px;
        display: inline-block;
        padding: 7px 20px;
        margin: 10px 0px;
        border-radius: 25px;
        text-decoration: none;
        color: #FFF;
        font-size: 20px;
        text-align: center;
        background-color: #00CCFF;
      }
    }
  }
  a {
    height: 40px;
    width: 400px;
    display: inline-block;
    padding: 7px 20px;
    margin: 10px 0px;
    border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    text-align: center;
    background-color: #00CCFF;
  }
}
