.content{
  margin-top:20px;
  &__left{
    width: 200px;
    height: 600px;
  }
  &__center{
    &__link{
      width: 100%;
      background-color: white;
    }
    &__tweet{
      margin-top: 1px;
      background-color: white;
      padding: 10px;
    }
  }
  &__right{
    &__recommend{
      padding:10px;
      background-color: white;
    }
  }
}
